.checkbox {

  &__wrap {
    padding: 0 0;
    text-align: right;

    & > label {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //
      //@include respond-to(hover-device) {
      //  display: inline-block;
      //  width: auto;
      //}
    }
  }

  &-toggle{
    &__list {
    }

    &__item {
      cursor: pointer;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.6rem;
      }

      input + span {
        margin-left: 0.8rem;
      }
    }
  }

}

input[type="checkbox"]{

  display: none;

  + span {
    display: inline-block;
    font-size: .5rem;
    border: 1px solid #eee;
    color: #888;
    border-radius: px;
    padding: 0.3rem;

    & > svg {
      transition: all 0.1s ease-out;
    }
  }
  &:checked {
    + span > svg {
      opacity: 1;
      color: map-deep-get($color, "btn-text", "bright");

      .App--dark-mode & {
        color: map-deep-get($color, "btn-text", "dark");
      }
    }
  }
  &:not(checked) {
    + span > svg {
      opacity: 0.2;
    }
  }
}