.city-details {

    text-align: center;
    color: #444;
    line-height: 1.6;
    padding: 2rem 0;

    &__name {
        .favorites__wrap & {

        }

        .city-detail & {

        }
    }
    &__text {
        .favorites__wrap & {

        }

        .city-detail & {

        }
    }
    &__temp {
        .favorites__wrap & {

        }

        .city-detail & {

        }
    }

}