.city-details {

    text-align: center;
    color: #444;
    line-height: 1.6;
    padding: 2rem 0;
    .favorites__wrap & {

    }

    .city-detail & {
        display: flex;

    }
    &__name {
        .favorites__wrap & {

        }

        .city-detail & {
            font-size: 1.2rem;
        }
    }
    &__text {
        .favorites__wrap & {

        }

        .city-detail & {
            font-size: 1.2rem;

        }
    }
    &__temp {
        .favorites__wrap & {

        }

        .city-detail & {
            font-size: 1.8rem;

        }
    }

    &__weather-icon {

        position: relative;
        @extend %color-transition;
        color: map-deep-get($color, "weather-icon", "bright");
        .App--dark-mode & {
            color: map-deep-get($color, "weather-icon", "dark");
        }

        .favorites__wrap & {
            font-size: 1.8rem;

        }

        .city-detail & {
            font-size: 3.8rem;
            padding-right: 2rem;
            margin-right: 2rem;

            &:after {
                content: '';
                width: 1px;
                height: 50%;
                background-color: #ccc;
                right: 0;
                top: 25%;
                position: absolute;
                display: inline-block;
            }
        }

    }

    &__aside {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        @extend %color-transition;
        color: map-deep-get($color, "city-details-aside-text", "bright");

        .App--dark-mode & {
            color: map-deep-get($color, "city-details-aside-text", "dark");
        }

        .city-detail & {
            text-align: left;
        }
    }
}

.city-detail {

    padding: 2rem 1rem;

    @media screen and (min-width: 768px) {
        padding: 2rem 4rem;
    }

    &__stats {

        display: flex;
        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
            margin-bottom: 4rem;
        }

        & > button{
            margin-left: auto;
        }
    }
}