.city-details {

    text-align: center;
    color: #444;
    line-height: 1.6;
    padding: 2rem 0;
    .favorites__wrap & {

    }

    .city-detail & {
        display: flex;

    }
    &__name {
        .favorites__wrap & {

        }

        .city-detail & {

        }
    }
    &__text {
        .favorites__wrap & {

        }

        .city-detail & {

        }
    }
    &__temp {
        .favorites__wrap & {

        }

        .city-detail & {

        }
    }

    &__weather-icon {

        color: slategrey;
        position: relative;

        .favorites__wrap & {
            font-size: 1.8rem;

        }

        .city-detail & {
            font-size: 3.8rem;
            padding-right: 2rem;
            margin-right: 2rem;

            &:after {
                content: '';
                width: 1px;
                height: 50%;
                background-color: #ccc;
                right: 0;
                top: 25%;
                position: absolute;
                display: inline-block;
            }
        }

    }

    &__aside {
        display: flex;
        flex-direction: column;
        font-size: 2rem;

        .city-detail & {
            text-align: left;
        }
    }
}