.favorites {

    &__wrap {
        padding: 4rem;
    }

    &__list {
        grid-gap: 3.4rem 2.6rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, 20rem);
        justify-content: center;
    }

    &__item {
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 2rem 1rem 1rem;
        box-shadow: 1px 3px 2px #88888833;

        & > div {
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    }

    &__remove-btn {
        font-size: 1rem;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
        padding: 0 0 0.8rem 0;
        color: #888;

        &-wrap {
            width: 100%;
            text-align: center;
        }

    }

    &__add-headline {
        font-size: 2rem;
        color: map-deep-get($color, "favorites-add-link", "bright");

        .App--dark-mode & {
            color: map-deep-get($color, "favorites-add-link", "dark");
        }
    }

    &__add-link {
        font-size: 1.2rem;
        color: map-deep-get($color, "back-home-headline", "bright");

        .App--dark-mode & {
            color: map-deep-get($color, "back-home-headline", "dark");
        }
    }

}
