.favorites {



    &__wrap {
        padding: 4rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    &__item {
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 3rem;
        box-shadow: 1px 3px 2px #88888833;

        & > div {
            text-align: center;
        }
    }

}
