.favorites {



    &__wrap {
        padding: 4rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    &__item {
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 2rem 1rem 1rem;
        box-shadow: 1px 3px 2px #88888833;

        & > div {
            text-align: center;
        }
    }

    &__remove-btn {
        font-size: 1rem;
        text-decoration: none;
        border-bottom: 1px solid #888;
        padding: 0 0 0.8rem 0;

        &-wrap {
            width: 100%;
            text-align: center;
        }

    }

}
