.fav-toggle-btn {

    cursor: pointer;
    margin-left: auto;
    font-size: 1rem;
    @extend %color-transition;
    color: map-deep-get($color, "fav-toggle-btn-off", "bright");

    .App--dark-mode & {
        color: map-deep-get($color, "fav-toggle-btn-off", "dark");
    }


    & > .wrap-for-separator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 2rem;
        width: 7rem;

        &:before {
            content: '';
            width: 1px;
            height: 50%;
            background-color: #ccc;
            left: 0;
            top: 25%;
            position: absolute;
            display: inline-block;
        }
    }



    &.active {
        color: map-deep-get($color, "fav-toggle-btn-on", "bright");
        .App--dark-mode & {
            color: map-deep-get($color, "fav-toggle-btn-on", "dark");
        }
    }

    & > span {
        transition: color 0.2s ease-in;
    }

    &__text {
        font-size: .8rem;
        margin-top: .4rem;

        color: map-deep-get($color, "fav-toggle-btn-text", "bright");
        .App--dark-mode & {
            color: map-deep-get($color, "fav-toggle-btn-text", "dark");
        }
    }

}
