.forecast {
    color: #888;

    &__wrap {
        //flex-grow: 1;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    &__item {
        border: 1px solid #eee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 16rem;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 2px 0px #33333333;
    }

    &__title {

        text-decoration: none;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        color: #333;
    }

    &__degree-num {

        text-decoration: none;
        text-align: center;
        font-size: 1.8rem;

    }

    &-headline {

        text-align: center;
        font-size: 3rem;
        padding: 2rem 0 6rem 0;
        color: #777;
        font-weight: 100;

        &__category{

        }

        &__content{

        }
    }


}
