.forecast {
    color: #888;

    &__wrap {
        //flex-grow: 1;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 16rem);
        grid-gap: 2rem;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 20rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16rem;
        border-radius: 10px;
        border: 1px solid #eee;
        box-shadow: 0px 2px 0px #33333333;
        padding: 2rem 0;
        @extend %color-transition;
        @extend %bkg-color-transition;

        background-color: map-deep-get($color, "forecast-item-bkg", "bright");
        color: map-deep-get($color, "forecast-item-text", "bright");

        .App--dark-mode & {
            border: 1px solid #2a2a2a;
            background-color: map-deep-get($color, "forecast-item-bkg", "dark");
            color: map-deep-get($color, "forecast-item-text", "dark");
        }


        @media screen and (min-width: 768px) {
            height: 16rem;
        }
    }

    &__title {

        text-decoration: none;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        @extend %color-transition;

        color: map-deep-get($color, "forecast-title", "bright");

        .App--dark-mode & {
            color: map-deep-get($color, "forecast-title", "dark");
        }

    }

    &__degree-num {

        text-decoration: none;
        text-align: center;
        font-size: 1.6rem;

        & > + .forecast__degree-num {
            font-size: 1.2rem;
            color: #888;
            letter-spacing: 0.2rem;
        }
    }

    &-headline {

        text-align: center;
        font-size: 3rem;
        padding: 0 0 2rem 0;
        font-weight: 100;
        color: map-deep-get($color, "forecast-headline", "bright");
        @extend %color-transition;

        .App--dark-mode & {
            color: map-deep-get($color, "forecast-headline", "dark");
        }

        @media screen and (min-width: 768px) {
            padding: 2rem 0 6rem 0;
        }

        &__category{
            text-transform: capitalize;
        }

        &__content{

        }
    }
}