.header {
    height: 8rem;
    border-bottom: 1px solid #333;
    display: flex;
    padding: 0 4rem;

    &__logo{
        flex-basis: 10rem;
        height: 100%;
    }

    &__main-nav{
        flex-basis: 10rem;
    }

    &__controls{
        flex-grow: 1;
    }
    
    &__logo, &__main-nav, &__controls {
        @extend %center-ver
    }
}