.header {
    height: 8rem;
    display: flex;
    padding: 0 4rem;
    color: map-deep-get($color, "header-text", "bright");
    background-color: map-deep-get($color, "header-bkg", "bright");
    @extend %color-transition;
    @extend %bkg-color-transition;

    .App--dark-mode & {
        color: map-deep-get($color, "header-text", "dark");
        background-color: map-deep-get($color, "header-bkg", "dark");
    }

    &__logo {
        flex-basis: 10rem;
        height: 100%;
        margin-right: 1.8rem;
        @extend %color-transition;

        color: map-deep-get($color, "logo", "bright");

        .App--dark-mode & {
            color: map-deep-get($color, "logo", "dark");
        }

        & > span {
            font-size: 1.6rem;
        }
    }

    &__main-nav {
        flex-basis: 10rem;
        flex-grow: 1;

    }

    &__controls {
    }
    
    &__logo, &__main-nav, &__controls {
        @extend %center-ver
    }
}