.main-nav {

    &__wrap {
        //flex-grow: 1;
    }

    &__list {
        @extend %center-ver;
        height: 100%;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__link {

        height: 100%;
        color: #888;
        text-decoration: none;

        &--active {
            color: #333;
        }
    }


}