@import 'mixins.scss';
@import 'reset.scss';
@import 'raster-weather-icons.scss';
@import 'blocks/_header.scss';
@import 'blocks/_main-nav.scss';
@import 'blocks/_search.scss';
@import 'blocks/_forecast.scss';
@import 'blocks/_favorites.scss';
@import 'blocks/_fav-toggle-btn.scss';
@import 'blocks/_city-detail.scss';


body {
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg {
    width: 1em;
    fill: currentColor;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    box-sizing: content-box;
}

%center-ver {
    display: flex;
    flex-direction: row;
    align-items: center;
}