.weather-icon { background: url('../assets/raster-weather-icons-sprite.png') no-repeat top left; width: 75px; height: 45px; background-position: 0 55px;
    &--1-s { background-position: 0 0; }
    &--2-s { background-position: 0 -55px; }
    &--3-s { background-position: 0 -110px; }
    &--4-s { background-position: 0 -165px; }
    &--5-s { background-position: 0 -220px; }
    &--7-s { background-position: 0 -275px; }
    &--8-s { background-position: 0 -330px; }
    &--12-s { background-position: 0 -385px; }
    &--11-s { background-position: 0 -440px; }
    &--13-s { background-position: 0 -495px; }
    &--14-s { background-position: 0 -550px; }
    &--17-s { background-position: 0 -605px; }
    &--15-s { background-position: 0 -660px; }
    &--16-s { background-position: 0 -715px; }
    &--18-s { background-position: 0 -770px; }
    &--19-s { background-position: 0 -825px; }
    &--21-s { background-position: 0 -880px; }
    &--20-s { background-position: 0 -935px; }
    &--22-s { background-position: 0 -990px; }
    &--23-s { background-position: 0 -1045px; }
    &--24-s { background-position: 0 -1100px; }
    &--25-s { background-position: 0 -1155px; }
    &--26-s { background-position: 0 -1210px; }
    &--29-s { background-position: 0 -1265px; }
    &--30-s { background-position: 0 -1320px; }
    &--31-s { background-position: 0 -1375px; }
    &--32-s { background-position: 0 -1430px; }
    &--33-s { background-position: 0 -1485px; }
    &--34-s { background-position: 0 -1540px; }
    &--35-s { background-position: 0 -1595px; }
    &--36-s { background-position: 0 -1650px; }
    &--37-s { background-position: 0 -1705px; }
    &--38-s { background-position: 0 -1760px; }
    &--39-s { background-position: 0 -1815px; }
    &--40-s { background-position: 0 -1870px; }
    &--41-s { background-position: 0 -1925px; }
    &--42-s { background-position: 0 -1980px; }
    &--43-s { background-position: 0 -2035px; }
    &--44-s { background-position: 0 -2090px; }
}